.lista-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.card {
    min-width: 300px;
    height: fit-content;
    color: white;
    overflow: hidden;
    background-color: #558076;
    border-radius: 20px;
    margin-bottom: 20px;
}
  
.char {
    width: 20%;
}
  
  .char img {
    width: 100%;
  }
  
  .char h2 {
    padding: 15px;
  }
  
  .char-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .char-info span {
    padding: 5px;
  }
  
  .lista-secundaria{
    display: flex;
      flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background-color: rgb(97, 98, 100);
  }
